p { 
    font-family: "Open Sans Regular";
    font-size: 25px;
}

.navbar {
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #fff;
    /* border-bottom-width: 5px;
    border-bottom-style: solid; */
    width: 100%;
}

 .navbar-nav {
    flex-direction: row;
}

.nav-link {
    font-family: "Open Sans Bold";
    font-size: 28px;
    margin: 0 10px;
    margin-right: 20px;
    color: black !important;
}

.nav-link:hover {
    color:#6e6e70 !important;
    text-decoration: underline;
} 

.big-container {
    width: 100%;
     position: relative; 
}

.container-big {
    /* margin-top: 115px; */
}


h2 {
    text-decoration: underline;
}

.motto {
    font-family: "Open Sans Bold";
    font-size: 28px;
    margin-top: -13px;
    padding-top: 30px;
    padding-left: 100px;
    font-weight: 700;
}

.statement {
    font-size: 25px;
    padding-left: 100px;
    padding-right: 20%;
}

.van {
    /* border-top-width: 5px;
    border-top-style: solid; */
}



.help {
    font-family: "Open Sans Bold";
    font-size: 28px;
    padding-top: 30px;
    padding-left: 100px;
    font-weight: 900;
    /* border-top-width: 5px;
    border-top-style: solid; */
}


.strategy {
    border-top-width: 5px;
    text-align: center;
    
}

.strategy-header {
    /* text-decoration: underline; */
    font-family: "Open Sans Bold";
    font-size: 28px;
    font-weight: bold;
}

.strategy-col1 {
    text-align: center;
    line-height: 0.5;
    color: #6e6e70;
}
.strategy-col2 {
    text-align: center;
    line-height: 0.5;
    color: #6e6e70;
}

.tactics-header {
    /* text-decoration: underline; */
    font-family: "Open Sans Bold";
    font-size: 28px;
    font-weight: bold;
   
}

.tactics-header {
    text-align: center;
}

.tactics-col1 {
    text-align: center;
    line-height: 0.5;
    color: #6e6e70;
}

.tactics-col2 {
    line-height: 0.5;
    text-align: center;
    color: #6e6e70;
}

#footer-card {
    border-top-width: 0px;
}

.boas-logo-footer {
    width:200px;
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

.card-title {
    text-align: center;
    font: Open Sans Regular;
}

.card-text {
    text-align: center;   
}

.card {
    /* border-top-width: 5px;
    border-top-color: black; */
padding-top: 30px;
}

.social-media-area {
    text-align: center;
}

.copyright {
    text-align: center;   
}